html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
form{
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
form div{
    margin-bottom: 15px;
}
form input[type="text"],
form input[type="email"],
form input[type="number"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus{
    border-color: #777777;
    outline: none;
}
form button{
    width: 100%;
    padding: 10px;
    background-color: #cccccc;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
form button.hvr-shutter-out-horizontal {
    background-color: #aaaaaa; 
    position: relative;
    z-index: 1;
}

form button.hvr-shutter-out-horizontal::before {
    background: #555555; 
}
